# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Instance folder (SQLite DB, etc.)
instance/

# Uploads
uploads/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Previously cloned repo folder
Deepfake_group31/
